@font-face {
  font-family: 'UniNeueLight';
  src: url('UniNeueLight.svg#UniNeueLight') format('svg'),
       url('UniNeueLight.ttf') format('truetype'),
       url('UniNeueLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'unineuelight';
  src: url('unineuelight.eot');
  src: url('unineuelight.eot?#iefix') format('embedded-opentype'),
       url('unineuelight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

